.change_email {
      background: #212529;
      max-width: 450px;
      height: 415px;
      position: relative;
      margin-top: 11%;
      margin-left: auto;
      margin-right: auto;
      padding-right: 15px;
      padding-left: 15px;
      border-radius: 40px;
      }