{% extends 'base.html' %}

{%block content%}
    <form action="{% url 'orders:order'%}" method="post" >
        {% csrf_token %}
        <div class="container-my">

            <div class="row">
                    {%for field in form%}
                        <div class="col-11" style="color:white; margin-left: 15px;">
                            <p >{{field.label}} :</p>
                        </div>
                        <div class="col-11 mb-3" style="color:white; margin-left: 15px;">
                            {{field}}
                        </div>
                    {%endfor%}
            </div>
            <div class="col-12">
                <input type="submit" class="form-control" style="background: #ffc107; border-radius: 10px;"
                value="Подтвердить заказ" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
        </div>

    </form>
{%endblock%}