.category_create {
         background: #212529;
         max-width: 400px;
         height: 130px;
         margin-top: 25%;
         position: relative;
         margin-left: auto;
         margin-right: auto;
         padding-right: 15px;
         padding-left: 15px;
         border-radius: 40px;
         }