{% extends 'base.html' %}
{%load static %}
{%block style%}
   <link rel="stylesheet" href="{% static 'css/change_email.css' %}">
{%endblock%}
{%block content%}
  {% include "navbar_profile.html" %}

   {%if message%}
       <div class="container col-3" style="background: rgba(245, 35, 35, 0.5); border-radius: 10px; margin-bottom:-3%;margin-top: 3%;">
           <div style="text-align:  center;"><strong>{{message}}</strong></div>
       </div>
   {%endif%}
  <form action="{% url 'account:change_email' user.id%}" method="post" >
        {% csrf_token %}
        <div class="change_email">
            <div class="row">
                    {%for field in form%}
                        <div class="col-11 mb-3" style="color:white; margin-left: 22px;">
                            <p>{{field.label}} :</p>
                                {{field}}
                        </div>
                    {%endfor%}
            </div>
            <div class="col-12">
                <input type="submit" class="form-control" style="background: #ffc107; border-radius: 10px;"
                value="Save changing" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
        </div>
        </div>
</form>
{% endblock %}