{% extends 'base.html' %}
{%load static %}
{%block style%}
    <link rel="stylesheet" href="{% static 'css/account/profile.css'%}">
    <link rel="stylesheet" href="{% static 'css/account/profile_media.css'%}">
{%endblock%}
{%block content%}
<div class="container-fluid">
  <div class="row">
      <div class="col-12 col-xl-3" id="menu">
          <div class="shadow">
              <ul class="list-group" style="margin-left: -5px">

                  <li>
                      <a href="{% url 'account:change_password' %}" class="list-group-item list-group-item-action list-group-item"><h5 style="text-align: center">Change password</h5></a>
                  </li>

                  <li>
                      <a href="{% url 'account:change_email' user.id%}" class="list-group-item list-group-item-action list-group-item"><h5 style="text-align: center"> Change email</h5></a>
                  </li>
                  <li>
                      <a href="/" class="list-group-item list-group-item-action list-group-item"><h5 style="text-align: center">Unique name</h5></a>
                  </li>
                  <li>
                      <a href="{% url 'orders:order_list' user_id=user.id%}" class="list-group-item list-group-item-action list-group-item"><h5 style="text-align: center">My orders</h5></a>
                  </li>
                  <li>
                      <a href="/" class="list-group-item list-group-item-action list-group-item"><h5 style="text-align: center">My comments</h5></a>
                  </li>
                  <li>
                      <a href="/" class="list-group-item list-group-item-action list-group-item"><h5 style="text-align: center">Cart</h5></a>
                  </li>
                  <li>
                      <a href="/" class="list-group-item list-group-item-action list-group-item"><h5 style="text-align: center">Contacts</h5></a>
                  </li>
                  <li>
                      <a href="{% url 'account:change_profile' user.id%}" class="list-group-item list-group-item-action list-group-item"><h5 style="text-align: center">Change profile</h5></a>
                  </li>
                  <li>
                      <a href="{% url 'account:logout' %}" class="list-group-item list-group-item-action list-group-item" style="background: #212529;"><h5 style="color:white; text-align: center">Log out</h5></a>
                  </li>



              </ul>
          </div>
    </div>
    <div class="col-12 col-md-4 col-lg-5 col-xl-3" id="main-image">
        <img alt="Main user image"  src="{{user.main_image.url}}" style="width:85%; height:85%; border-radius: 15px;">
        <div class="row">
            <div class="col-6">
                <form enctype="multipart/form-data" action="{% url 'account:change_image'%}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="form-control" style="background: #212529; border-radius: 10px; color:white"
                      value="Change image" id="exampleInputEmail1" aria-describedby="emailHelp">
                    {{form}}
                </form>
            </div>
            <div class="col">
                <a href="{% url 'account:remove_image' user.id %}" class="btn btn-dark" style="background: #212529;">Remove</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-5 col-lg-5 col-xl-4" id="information">
              {%for key, value in data.items%}
                  <p></p>
                  <div class="row">
                      <div class="col-5 col-md-12 col-lg-4 col-xl-5"><h5>{{key|capfirst}}:</h5></div>
                      {%if value == user.birth_date and value is not None%}
                          <div class="col"><h5>{{value}}({{user.age}} years)</h5></div>
                      {%else%}
                          <div class="col"><h5>{{value}}</h5></div>
                      {%endif%}
                  </div>
              {%endfor%}
    </div>

  </div>
</div>

{% endblock %}