{%load static %}
<link rel="stylesheet" href="{% static 'css/navbar/navbar.css'%}">
<link rel="stylesheet" href="{% static 'css/navbar/navbar-media.css'%}">
<nav class="navbar navbar-expand-md navbar-dark mb-4" style="background: #212529;">
            <a class="navbar-brand" href="#">
               <img alt="Brand" class="img-responsive" style="background: white" width=160rem height=auto src="static/navbar_image/hsbc-logo-black-and-white.png">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <h4 style="color:white">Navigation</h4>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      {% if user.is_authenticated %}
                          <a class="dropdown-item" href="{% url 'account:profile' user.id%}">Profile</a>
                      {% endif %}
                      <a class="dropdown-item" href="{% url 'cart:cart_detail' %}">Cart</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'catalog:product_list' %}">Main page</a>
                    </div>
                </li>

                <li class="nav-item" id="cart" >
                    {% if cart|length > 0 %}
                        <a class="nav-link"  href="{% url 'cart:cart_detail' %}">
                            <svg class="bi bi-cart-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                 <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                            </svg>
                            <span class="badge badge-secondary">{{cart|length}}</span>
                        </a>
                    {% else %}
                        <a class="nav-link" href="">
                          <svg class="bi bi-cart" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                          </svg>
                        </a>
                    {% endif %}

                </li>

              </ul>


                <div class="container" id="store">
                        <form class="form-inline my-2 my-lg-0" action="">
                            <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search" name="search">
                            <button class="btn btn-warning my-2 my-sm-0" id="sub" type="submit">Искать</button>
                        </form>
                </div>

                     {%if user.is_authenticated%}
                         <a href="{% url 'account:profile' user.id %}"><img alt="Main user image" id="main_img" src="{{user.main_image.url}}"></a>
                     {%else%}
                     <div class="btn-group" role="group" aria-label="Basic example">
                          <a class="btn btn-warning" href="{% url 'account:registration'%}">Registration</a>
                          <a class="btn btn-warning" style="white-space: nowrap" href="{% url 'account:login'%}">Log in</a>
                    </div>
                     {%endif%}
                </div>

        </nav>
