.order_list {
      background: white;
      max-width: 1500px;
      height: 40px;
      position: relative;
      margin-top: 3%;
      margin-left: auto;
      margin-right: auto;
      padding-right: 15px;
      padding-left: 15px;
      border-radius: 40px;
    }

#order_button_detail{height: 40px;}

body {background: #212529; }