{%extends 'catalog/base_catalog.html'%}

{%block content%}
    <div class="container-fluid">

        <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2 mt-3 ">
                    <div class="shadow">
                        <ul class="list-group" style="margin-left: -5px">
                            {%if current_category%}
                                <li>
                                    <a href="/" class="list-group-item list-group-item-action list-group-item">Все категории</a>
                                </li>
                            {%else%}
                                <li >
                                    <a href="/" class="list-group-item list-group-item-action list-group-item-secondary"><em><strong>Все категории</strong></em></a>
                                </li>
                            {%endif%}

                            {%for category in categories%}
                                    <li>
                                        {%if category == current_category%}
                                            <a href="{{category.get_absolute_url}}" class="list-group-item list-group-item-secondary "><em><strong>{{category.title}}</strong></em></a>
                                        {%else%}
                                            <a href="{{category.get_absolute_url}}" class="list-group-item list-group-item-action ">{{category.title}}</a>
                                        {%endif%}
                                    </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>




            <style>
                   #list { width:100%; margin-left: auto; margin-right: -350px }
                   @media screen and (max-width: 990px) {
                     #list { width:100%; margin-left: 30px; }
                   }
            </style>
              <div class="col">
                              <div class="card-deck mt-3" style='width:100%; margin-left: auto;'>
                                  {% for product in products %}
                                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">

                                          <div class="card bg-light mb-3" style="max-width:rem 16;">
                                              <img  height="100%" src="{{product.image.url}}"  style="width:100%;" class="card-img-top" alt="изображение продукта">
                                              <div class="card-body" style='width:100%; height:100%;'>
                                                  <h4 class="card-title">{{product.title}}</h4>

                                                      <div class="row">
                                                          <div class="col-sm-6"><p>Цена:  <strong>{{product.price}} $</strong></p></div>
                                                          {% if product.quantity > 0%}
                                                            <div class="col"><p><strong>В наличии: {{product.quantity}}</strong></p></div>
                                                          {% else %}
                                                            <div><strong><p class="text-danger">Нет в наличии</p></strong></div>
                                                          {% endif %}
                                                      </div>

                                                  <a href="{{product.get_absolute_url}}" class="btn btn-dark" style="background: #212529">Подробнее</a>
                                              </div>
                                          </div>
                                    </div>
                                  {% endfor %}


                              </div>


                </div>

        </div>
        {% if is_paginated %}
                <nav aria-label="...">
                  <ul class="pagination justify-content-center">
                        <li class="page-item {%if not prev_url%}disabled{%endif%}">
                            <a class="page-link" href="{{prev_url}}" tabindex="-1" aria-disabled="true"><strong> ❮ </strong></a>
                        </li>





                        {%for n in products.paginator.page_range%}
                            {% if products.number == n%}
                                <li class="page-item active" aria-current="page">
                                        <a class="page-link" href="?page={{n}}">{{n}}<span class="sr-only">(current)</span></a>
                                </li>

                            {%elif n > products.number|add:-3 and n < products.number|add:3 %}

                                <li class="page-item">
                                    <a class="page-link" href="?page={{n}}">{{n}}</a>
                                </li>
                            {%endif%}
                        {%endfor%}

                        {%if next_url%}
                            <li class="page-item">
                                <a class="page-link" href="{{next_url}}" tabindex="-1" aria-disabled="true"><strong> ❯ </strong></a>
                            </li>
                        {%endif%}
                  </ul>
                </nav>
        {%endif%}
    </div>
{%endblock%}