{%extends 'catalog/base_catalog.html'%}

{%block content%}
    <div class="container-left">

        <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-2 mt-3 ">
                    <div class="shadow">
                        <ul class="list-group">
                                <li >
                                    <a href="/" class="list-group-item list-group-item-action list-group-item-secondary">Все категории</a>
                                </li>

                            {% for category in categories %}

                                    <li>

                                            <a href="Тут должна быть ссылка на категорию" class="list-group-item list-group-item-action "><strong>{{ category.name }}</strong></a>

                                    </li>


                            {% endfor %}
                        </ul>
                    </div>
                </div>



             <div class="col-12 col-sm-12 col-md-12 col-lg-10">

                  <div class="card-deck mt-3" style='width:100%; margin-left: auto; margin-right: -40px;'>
                      {% for product in products %}

                          <div class="col-sm-12 col-lg-3 m-1">

                                  <div class="card bg-light mb-3" style="width:80%;">
                                      <img  height="100%" src="{{product.image.url}}"  style="width:100%;" class="card-img-top" alt="изображение продукта">
                                      <div class="card-body" style='width:100%; height:100%;'>
                                          <h5 class="card-title">{{product.name}}</h5>

                                              <div class="row">
                                                  <div class="col-sm-8"><p><strong>Стоимость:  {{product.price}} $</strong></p></div>
                                              </div>

                                          <a href="{{product.get_absolute_url}}" class="btn btn-primary">More details</a>
                                      </div>
                                  </div>

                          </div>
                      {% endfor %}
                  </div>
             </div>

        </div>
    </div>
{%endblock%}